<div id="main">
  <app-fill-machine *ngIf="appService.machine.fill"></app-fill-machine>
  <div class="machine">
    <section class="header">
      <h3 [innerHTML]="appService.machine.title" class="title"></h3>
    </section>
    <section class="content">
      <div class="glass">
        <div class="products">
          <div *ngFor="let item of appService.machine.product;let i = index" (click)="productPress(i)" class="product">
            <img *ngIf="item.amount>0" [src]="'assets/img/products/'+item.img">
            <div class="detail">
              <span>#{{i+1}}</span>
              <span>{{item.amount}}/{{appService.machine.amount}}</span>
            </div>
            <div class="value">
              <span *ngIf="item.amount>0">${{item.value | moneyPipe}}</span>
            </div>
          </div>
        </div>
        <div class="output">
          <div class="exit"></div>
        </div>
      </div>
      <div class="board">
        <div class="money">
          <select [(ngModel)]="appService.machine.insert" (ngModelChange)="onChange($event)" name="money">
            <option value="">Money:</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="500">500</option>
            <option value="2000">2.000</option>
            <option value="5000">5.000</option>
            <option value="10000">10.000</option>
          </select>
        </div>
        <div class="screen">
          $ {{appService.machine.screen.money | moneyPipe}}
          <br>
          # {{appService.machine.screen.code}}
        </div>
        <div class="keys">
          <button (click)="pressKey(i)" *ngFor="let item of appService.machine.keys;let i = index"
            class="btn">{{i}}</button>
          <button (click)="pressKey('X')" class="btn clear">X</button>
          <button (click)="pressKey('OK')" class="btn ok">OK</button>
        </div>
        <div class="return">
          <button (click)="returnMoney()" class="btn">Return Money</button>
          <div class="exit"></div>
          <button (click)="fillMachine()" class="btn fill">Fill Machine:{{appService.machine.fill}}</button>
        </div>
      </div>
    </section>
    <section class="footer">
      <div class="foot"></div>
      <div class="foot"></div>
    </section>
  </div>
</div>
